footer{
	height:60px;
	background: $light-grey;
	margin-top:37px;
	font-family: $font;
}

footer p{
	padding-top: 19px;
	padding-bottom: 22px;
	color: $greyish-brown;
	text-align: center;
}
footer span{
	color: $dark-grey-blue;
}