.pag{
	display:flex;	
	margin-top:30px;
	justify-content: flex-end;
    margin-right: 80px;
    @media all and (max-width:550px) {
      justify-content: center;
    	margin-right: 0;
    }
	
}

.pag-item{
	width:30px;
	height:30px;
	background: $light-grey;
	margin: 0 3px;
	text-align: center;
	padding-top:8px;
	font-family: $font;
}

.pag-item.active{
	background: $dark-grey-blue;
	color: white;
}
